force-app/main/default/flows/Set_Order_And_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Order_Id</name>
        <label>Set Order Id</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Customer_Order_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Id</name>
        <label>Set Product Id</label>
        <locationX>50</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price_Book_Entry.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Order_Exists</name>
        <label>Order Exists ?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Get_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Id</targetReference>
            </connector>
            <label>Has Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Exists</name>
        <label>Product Exists ?</label>
        <locationX>182</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price_Book_Entry</targetReference>
            </connector>
            <label>Has Product</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Order And Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Order And Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderReferenceNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order_Reference_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Book_Entry</name>
        <label>Get Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Product_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
