force-app/main/default/flows/Sync_Quote_To_Tencia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Publish_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IS Update</defaultConnectorLabel>
        <rules>
            <name>Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEWRECORD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Publish_Platform_Event</targetReference>
            </connector>
            <label>Is New Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ISNEWRECORD</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Sync Quote To Tencia {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sync Quote To Tencia</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Publish_Platform_Event</name>
        <label>New Publish Platform Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sObjectType__c</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Send_Notification_To_Mule__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Publish_Platform_Event</name>
        <label>Update Publish Platform Event</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <stringValue>Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sObjectType__c</field>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Send_Notification_To_Mule__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterFormula>{!$Record.LastModifiedBy.Username} != &apos;oitcdev_nawcontrols@outintheclouds.com&apos;</filterFormula>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
